footer
    .container-fluid
        .container
            .row
                .col
                    p 
                        b ATOM SERVICE Krzysztof Gondek Sp. J.
                        br
                        br
                        | Sprzedaż i serwis systemów zabezpieczenia technicznego 
                        br
                        br
                        | Mail: 
                        a(href="mailto: biuro@atom-service.pl") biuro@atom-service.pl
                        br
                        | Artur Gondek 
                        a(href="tel: +48508322030") +48 508 322 030
                        br
                        | Krystian Gondek 
                        a(href="tel: +48660401951") +48 660 401 951
                        br    
                        | ul. II Morskiego Pułku Strzelców  11 
                        br
                        | 81-661 Gdynia
                .col
                    p 
                        b Oferta 
                        br
                        br
                        | Systemy Sygnalizacji Włamania i Napadu 
                        br
                        | Telewizja przemysłowa CCTV
                        br
                        | Kontrola dostępu i Rejestracja Czasu Pracy
                        br
                        | Systemy Sygnalizacji Pożaru
                        br
                        | Sprzedaż i instalacja 
                        br
                        | Koncepcje przedprojektowe
                .col 
                    p 
                        b Jak dojechać?
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2317.3643621932542!2d18.508887730594758!3d54.49179601701664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fda0dc1d45d7b5%3A0x6be5ebe361324985!2satom%20service%20sp.j.!5e0!3m2!1spl!2spl!4v1656619049962!5m2!1spl!2spl' width='300' height='150' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')



    //p &copy; 2021 DotComp