extends includes/layout

block content

    .container
        p Spółka Atom Service Krzysztof Gondek Sp. J. specjalizuje się w sprzedaży i instalacji systemów zabezpieczenia technicznego. Jesteśmy autoryzowanym dealerem firm:
        p
            b CBC Poland Sp. z o.o.
            | - oddział międzynarodowego koncernu CBC Group produkującego urządzenia CCTV marki GANZ i COMPUTAR.
        p
            b VANDERBILT INTERNATIONAL GmbH
            | – producent systemów zabezpieczeń technicznych.
        p Posiadamy koncesję MSWiA Nr L-0185/06. Atom Service powstał w 2006 roku, zespół projektowy i wykonawczy oraz nadzór mają swoje korzenie w Agencji Technicznej i Osobowej Ochrony Mienia Atom sp. z o.o. działającej w latach 1990-2006. Wieloletnie doświadczenie i ciągłe podnoszenie kwalifikacji potwierdzają najwyższy standard naszych usług świadczonych zgodnie z oczekiwaniami klientów. Wiarygodność firmy Atom Service potwierdzają kontrahenci systematycznie korzystający z naszych usług, a także przyznane autoryzacje od renomowanych firm.
