extends includes/layout

block content

    .container
        .row#naglowek
            .col-4
                hr
            .col-4
                p Atom Service Krzysztof Gondek Sp. J.
            .col-4
                hr
    .row#aboutUs
        .col-md.my-auto
            p Specjalizujemy się w sprzedaży i instalacji systemów zabezpieczenia technicznego. Jesteśmy autoryzowanym dealerem firm:
            p
                strong CBC Poland Sp. z o.o.
                | - oddział międzynarodowego koncernu CBC Group produkującego urządzenia CCTV marki GANZ i COMPUTAR.
            p
                strong VANDERBILT INTERNATIONAL GmbH
                | – producent systemów zabezpieczeń technicznych.
            p Posiadamy koncesję MSWiA Nr L-0185/06. Atom Service powstał w 2006 roku, zespół projektowy i wykonawczy oraz nadzór mają swoje korzenie w Agencji Technicznej i Osobowej Ochrony Mienia Atom sp. z o.o. działającej w latach 1990-2006. Wieloletnie doświadczenie i ciągłe podnoszenie kwalifikacji potwierdzają najwyższy standard naszych usług świadczonych zgodnie z oczekiwaniami klientów. Wiarygodność firmy Atom Service potwierdzają kontrahenci systematycznie korzystający z naszych usług, a także przyznane autoryzacje od renomowanych firm.
        .col-md
            img(src='/images/company.jpg')
            div#aboutExp
                h2 15 lat
                br
                h4 W branży
                h4 security
    .row.justify-content-center
        h1 Zaufali nam
    .row#carousel
        .container
            section.logo-carousel.slider(data-arrows='true')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image1.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image2.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image3.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image4.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image5.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image6.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image7.png')
                .slide
                    img(src='https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image8.png')

