extends includes/layout

block content

    .container
        .row#naglowek
            .col-4
                hr
            .col-4
                h3 Atom Service Krzysztof Gondek Sp. J.
            .col-4
                hr
    .row#aboutUs
        .col-md.my-auto
            p Atom Service powstał w 2006 roku, zespół projektowy i wykonawczy oraz nadzór mają swoje korzenie w Agencji Technicznej i Osobowej Ochrony Mienia Atom sp. z o.o., działającej w latach 1990-2006. Wieloletnie doświadczenie i ciągłe podnoszenie kwalifikacji potwierdzają najwyższy standard naszych usług świadczonych zgodnie z oczekiwaniami klientów. Wiarygodność firmy Atom Service potwierdzają kontrahenci systematycznie korzystający z naszych usług, a także przyznane autoryzacje od renomowanych firm.
            p Specjalizujemy się w sprzedaży i instalacji systemów zabezpieczenia technicznego. Jesteśmy autoryzowanym dystrybutorem firm:
            p
                strong CBC Poland Sp. z o.o.
                | - oddział międzynarodowego koncernu CBC Group, produkującego urządzenia CCTV marki GANZ i COMPUTAR.
            p
                strong VANDERBILT INTERNATIONAL GmbH
                | – producent systemów alarmowych i kontroli dostępu.
            .row
                .col 
                    strong Dysponujemy:
                    br
                    br
                    ul 
                        li 
                            p Koncesją MSWiA Nr L-0185/06
                        li 
                            p Projektantami z uprawnieniami S.A.-4
                        li 
                            p Zespołem pracowników wpisanych na listę kwalifikowanych pracowników zabezpieczenia technicznego
                        li 
                            p Projektantami i szefami grup wykonawczych po ukończonym kursie Ośrodka Ochrony Zbiorów Publicznych
                        li 
                            p Pracownikami uprawnionymi do dostępu do informacji niejawnych (klauzule poufne, zastrzeżone)
                        li 
                            p Wyposażeniem sprzętowym i oprogramowaniem umożliwiającym wykonywanie zadań z branży security
                .col

                    strong Nasze autoryzacje to m. in.:
                    br
                    br
                    ul 
                        li 
                            p TECHOM
                        li 
                            p PISA
                        li 
                            p Vanderbilt 
                        li 
                            p Siemens
                        li 
                            p SATEL
                        li 
                            p CBC (GANZ , Computar)
                        li 
                            p Vesda 
                        li 
                            p Polon Alfa
                        li 
                            p D-max


        .col-md
            img(src='/images/company.jpg')
            //- div#aboutExp
            //-     h2 15 lat
            //-     br
            //-     h4 W branży
            //-     h4 security
    .row.justify-content-center
        h1 Zaufali nam
    .row#carousel
        .container
            section.logo-carousel.slider(data-arrows='true')
                .slide
                    img(src='images/loga/computar.png')
                .slide
                    img(src='images/loga/falck.png')
                .slide
                    img(src='images/loga/gct.jpg')
                .slide
                    img(src='images/loga/integra.png')
                .slide
                    img(src='images/loga/jump.png')
                .slide
                    img(src='images/loga/klimazbyt.png')
                .slide
                    img(src='images/loga/muzeum.jpg')
                .slide
                    img(src='images/loga/nbp.png')
                .slide
                    img(src='images/loga/nord.png')
                .slide
                    img(src='images/loga/pekao.png')
                .slide
                    img(src='images/loga/rpwik.jpg')
