extends includes/layout

block content
    .container-fluid#cctvgallery
        .container 
            .row.justify-content-center#cctv
                img(src="/images/ganzlogo.png", alt="Logo GANZ", id="brandlogo2")
            .row.row-cols-2 
                .col.my-auto
                    p 
                        | Marka 
                        strong GANZ 
                        | oferuje zintegrowane rozwiązania dla wielu segmentów rynku i obejmuje szeroki wachlarz produktów począwszy od kamer AHD i IP, poprzez inteligentną analitykę obrazu, po rejestratory sieciowe i zaawansowane oprogramowanie centralnego zarządzania.
                .col
                    img(src="/images/ganz_cam3.png", alt="Kamera GANZ", id="cctvImage")

            .row.justify-content-center#projectsHeader
                header Rejestratory sieciowe NVR - Pixelmaster
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/NR-16F85-16P-E.png' alt='...')
                        .card-body
                            h5.card-title NR-16F85-16P-E
                            p.card-text 16-kanałowy rejestrator sieciowy z serii PixelMaster wspierany przez oprogramowanie GANZ DMS oraz GanzView. Rejestrator umożliwia nagrywanie oraz wyświetlanie na żywo strumieni do 8MP (4K), obsługuje 5 dysków HDD (10TB), monitory HDMI i VGA do rozdzielczości 4K oraz oferuje przejrzyste menu dostępne z większości przeglądarek (IE,FF, Opera oraz Chrome). Dzięki wbudowanej usłudze serwera DHCP umożliwia auto-dodawanie kamer GANZ z serii PixelPro. Rejestrator obsługuje transakcje POS ze stanowisk kasowych oraz zdarzenia analityczne z kamer PixelPro. 
                        .card-footer
                            a(href="/docs/brochures/ganz", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            
            .row.justify-content-center#projectsHeader
                header Rejestratory sieciowe NVR - Genstar
            hr
            .row
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/NR8-8F81-8P-V2.png' alt='...')
                        .card-body
                            h5.card-title NR8-8F81-8P-V2
                            p.card-text 8-kanałowy rejestrator sieciowy z serii GenSTAR oferuje przejrzyste menu dostępne z poziomu większości przeglądarek. Umożliwia nagrywanie oraz wyświetlanie na żywo strumieni do 8MP. Złącza HDMI oraz VGA pozwalają na podłączenie 2 monitorów o rozdzileczości 4K. Posiada jedno miejsce na dysk SATA o pojemności do 8TB. Posiada wbudowany switch POE. Chmura P2P umożliwia łatwy podgląd obrazu z kamer poprzez aplikację kliencką.
                        .card-footer
                            a(href="/docs/brochures/ganz/NR8-8F81-8P-V_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/NR8-16F82-V.png' alt='...')
                        .card-body
                            h5.card-title NR8-16F82-V
                            p.card-text 16-kanałowy rejestrator sieciowy z serii GenSTAR oferuje przejrzyste menu dostępne z poziomu większości przeglądarek. Umożliwia nagrywanie oraz wyświetlanie na żywo strumieni do 8MP. Złącza HDMI oraz VGA pozwalają na podłączenie 2 monitorów o rozdzileczości 4K. Posiada dwa miejsca na dyski SATA o pojemności do 8TB. Posiada wbudowany switch POE. Chmura P2P umożliwia łatwy podgląd obrazu z kamer poprzez aplikację kliencką.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer")     
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/NR8-32F82-V.png' alt='...')
                        .card-body
                            h5.card-title NR8-32F82-V
                            p.card-text 32-kanałowy rejestrator sieciowy z serii GenSTAR oferuje przejrzyste menu dostępne z poziomu większości przeglądarek (IE, Firefox, Opera oraz Chrome). Umożliwia nagrywanie oraz wyświetlanie na żywo strumieni do 8MP. Złącza HDMI oraz VGA pozwalają na podłaczenie 2 monitorów o rozdzileczości do 4K. Posiada 2 miejsca na dyski SATA o pojemności do 6TB z funkcją grupowania HDD. 
                        .card-footer
                            a(href="/docs/brochures/ganz/NR8-32F82-V_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/ganzlogo.png' alt='...')
                        .card-body
                            h5.card-title NR8-32F84
                            p.card-text Brak danych i zdjęcia
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/NR8-64F88.png' alt='NR8-64F88')
                        .card-body
                            h5.card-title NR8-64F88
                            p.card-text 64-kanałowy rejestrator sieciowy z serii GenSTAR oferuje przejrzyste menu dostępne z poziomu większości przeglądarek (IE, Firefox, Opera oraz Chrome). Umożliwia nagrywanie oraz wyświetlanie na żywo strumieni do 8MP. Złącza HDMI oraz VGA pozwalają na podłaczenie 2 monitorów o rozdzileczości FullHD w trybie klona. Posiada 8 miejsc na dyski SATA o maks. pojemności łącznej 8x12TB. 
                        .card-footer
                            a(href="/docs/brochures/ganz/NR8-64F88_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną     

            .row.justify-content-center#projectsHeader
                header Rejestratory hybrydowe - DIGIMASTER
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/DR-4M51.png' alt='DR-4M51')
                        .card-body
                            h5.card-title DR-4M51
                            p.card-text 4-kanałowy rejestrator hybrydowy z serii DigiMaster wspierany przez oprogramowanie GANZ DMS. Nagrywanie i wyświetlanie strumieni wideo o maksymalnej rozdzielczości do 5MP z każdego kanału. Obsługa standardów: analog HD (AHD/TVI/CVI), analogowych (CVBS 960H) oraz IP z mozliwością pracy w trybie mieszanym. Przyjazne menu użytkownika, osługa jednego dysku (1 x 10TB), obsługa transakcji POS ze stanowisk kasowych, monitorów VGA oraz HDMI do rozdzielczości FullHD, chmura P2P, współpraca z większością kamer z protokołem ONVIF profil S w trybie nagrywania ciągłego.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/DR-8M52.png' alt='DR-8M52')
                        .card-body
                            h5.card-title DR-8M52
                            p.card-text 8-kanałowy rejestrator hybrydowy z serii DigiMaster wspierany przez oprogramowanie GANZ DMS. Nagrywanie i wyświetlanie strumieni wideo o maksymalnej rozdzielczości do 5MP z każdego kanału. Obsługa standardów: analog HD (AHD/TVI/CVI), analogowych (CVBS 960H) oraz IP z mozliwością pracy w trybie mieszanym. Przyjazne menu użytkownika, osługa dwóch dysków (2 x 10TB), obsługa transakcji POS ze stanowisk kasowych, monitorów VGA oraz HDMI do rozdzielczości FullHD, chmura P2P, współpraca z większością kamer z protokołem ONVIF profil S w trybie nagrywania ciągłego.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/DR-16M52.png' alt='DR-16M52')
                        .card-body
                            h5.card-title DR-16M52
                            p.card-text 16-kanałowy rejestrator hybrydowy z serii DigiMaster wspierany przez oprogramowanie GANZ DMS. Nagrywanie i wyświetlanie strumieni wideo o maksymalnej rozdzielczości do 5MP z każdego kanału. Obsługa standardów: analog HD (AHD/TVI/CVI), analogowych (CVBS 960H) oraz IP z mozliwością pracy w trybie mieszanym. Przyjazne menu użytkownika, osługa dwóch dysków (2 x 10TB), obsługa transakcji POS ze stanowisk kasowych, monitorów VGA oraz HDMI do rozdzielczości FullHD, chmura P2P, współpraca z większością kamer z protokołem ONVIF profil S w trybie nagrywania ciągłego.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną       

            .row.justify-content-center#projectsHeader
                header Kamery IP - Kopułkowe
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZNP-VD5M212DLP.png' alt='ZNP-VD5M212DLP')
                        .card-body
                            h5.card-title ZNP-VD5M212DLP
                            p.card-text Kamera IP kopułkowa z serii PixelPRO, 5MP | 20kl./sek., WDR 120dB, obiektyw P-IRIS MFZ 2.8-12mm. Wbudowane funkcje analityki obrazu AI z możliwością aktywacji do 2 niezależnych dodatkowych dedykowanych programowych licencji analitycznych AI (ograniczenie do procesowania 1 funkcjonalności AI w czasie rzeczywistym). W pakiecie dostępne są takie funkcje AI jak: detekcja wtargnięcia, szwendania, wejścia/wyjścia, przecięcia linii.
                        .card-footer
                            a(href="/docs/brochures/ganz/ZNP-VD5M212DLP_kk_2107.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/ZN8-80DT5M213DL.jpg' alt='ZN8-80DT5M213DL')
                        .card-body
                            h5.card-title ZN8-80DT5M213DL
                            p.card-text Brak danych
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-VD4M213DL.png' alt='ZN8-VD4M213DL')
                        .card-body
                            h5.card-title ZN8-VD4M213DL
                            p.card-text Kamera kopułowa IP serii GenSTAR o rozdzielczości 4MP z obiektywem typu Motor-Zoom z 5-krotnym przybliżeniem optycznym 2.7-13.5mm, w obudowie wandaloodpornej IK10, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC. Wyposażona w funkcję True-WDR oraz analitykę obrazu GenSTAR IVS, która realizuje funkcje wirtualnej linii perymetrycznej i strefy chronionej. Funkcje IVS dostępne są z poziomu rejestratorów GenSTAR.
                        .card-footer
                            a(href="/docs/brochures/ganz/ZN8-VD4M213DL_kk_1.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/ZN8-VD8M312DL.png' alt='ZN8-VD8M312DL')
                        .card-body
                            h5.card-title ZN8-VD8M312DL
                            p.card-text Kamera kopułowa IP serii GenSTAR o rozdzielczości 8MP z obiektywem typu Motor-Zoom z automatycznym ostrzeniem 3.3-12.5mm, w obudowie wandaloodpornej IK10, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC. Wyposażona w funkcję True-WDR oraz analitykę obrazu GenSTAR IVS, która realizuje funkcje wirtualnej linii perymetrycznej i strefy chronionej. Funkcje IVS dostępne są z poziomu rejestratorów GenSTAR.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
  
            .row.justify-content-center#projectsHeader
                header Kamery IP - Kopułkowe - akcesoria
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZA-JCB-S2M25.jpg' alt='ZA-JCB-S2M25')
                        .card-body
                            h5.card-title ZA-JCB-S2M25
                            p.card-text Puszka natynkowa do kamer kopułowych z obiektywem zmienno-ogniskowym z serii PixelPRO (ZN / ZNC / ZNP)
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/ZA8-JBMP-2.jpg' alt='ZA8-JBMP-2')
                        .card-body
                            h5.card-title ZA8-JBMP-2
                            p.card-text Puszka natynkowa do kamer PIXELPRO kopułowych wandaloodpornych 
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZA8-CBK627B.jpg' alt='ZA8-CBK627B')
                        .card-body
                            h5.card-title ZA8-CBK627B
                            p.card-text Adapter do instalacji na słupie puszki ZA8-JBMP, zakres montażu opasek na uchwytach 130-152mm
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/ganz/ZA8-CBK344.jpg' alt='ZA8-CBK344')
                        .card-body
                            h5.card-title ZA8-CBK344
                            p.card-text Uchwyt do montażu kamer PIXELPRO wandaloodpornych na ścianie 
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Kamery IP - Bullet
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-B4V212-DE.png' alt='ZN8-B4V212-DE')
                        .card-body
                            h5.card-title ZN8-B4V212-DE
                            p.card-text Kamera IP bullet serii GenSTAR Home wyposażona w szereg zaawansowanych funkcji wspierających jakość obrazu tj. ROI (Region of Interest), tryb korytarzowy, HLC, WDR oraz 24-ledowy oświetlacz IR. Wyposażona w analitykę obrazu GenSTAR IVS, która realizuje funkcje wirtualnej linii perymetrycznej i strefy chronionej. Funkcje IVS dostępne są z poziomu rejestratorów GenSTAR.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZNP-MB5F28D.png' alt='ZNP-MB5F28D')
                        .card-body
                            h5.card-title ZNP-MB5F28D
                            p.card-text Kamera IP PIXELPRO mini-bullet, sensor 1/2.8" CMOS STARVIS, 3+1 strumienie wideo (H.265/H.264/MJPEG), technologia "VBR+". 5MP @ 20FPS, WDR>120dB, mechaniczny filtr IR-cut; obiektyw 2.8mm, Smart-IR do 30 metrów, Onvif profil S, 3D-DNR, HLC, BLC, Auto-ROI, Defog. Sprzętowy Watchdog. Obudowa metalowa, IP66, DC12V / PoE(802.11af). Wbudowana analityka obrazu AI z możliwością aktywacji do 2 niezależnych dodatkowych dedykowanych programowych licencji analitycznych AI.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZNP-B5M212DP.png' alt='ZNP-B5M212DP')
                        .card-body
                            h5.card-title ZNP-B5M212DP
                            p.card-text Kamera IP bullet z serii PixelPRO o rozdzielczości 5MP | 20kl./sek., WDR>120dB, obiektyw P-IRIS MFZ 2.8-12mm. Wbudowane funkcje analityki obrazu AI z możliwością aktywacji do 2 niezależnych dodatkowych dedykowanych programowych licencji analitycznych AI (ograniczenie do procesowania 1 funkcjonalności AI w czasie rzeczywistym). W pakiecie dostępne są takie funkcje AI jak: detekcja wtargnięcia, szwendania, wejścia/wyjścia, przecięcia linii.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZNP-B5M550D.png' alt='ZNP-B5M550D')
                        .card-body
                            h5.card-title ZNP-B5M550D
                            p.card-text Kamera IP bullet z serii PixelPRO o rozdzielczości 5MP | 20kl./sek., WDR>120dB, obiektyw 5-50mm MFZ DC. Wbudowane funkcje analityki obrazu AI z możliwością aktywacji do 2 niezależnych dodatkowych dedykowanych programowych licencji analitycznych AI (ograniczenie do procesowania 1 funkcjonalności AI w czasie rzeczywistym). W pakiecie dostępne są takie funkcje AI jak: detekcja wtargnięcia, szwendania, wejścia/wyjścia, przecięcia linii.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-80B5M213D.png' alt='ZN8-80B5M213D')
                        .card-body
                            h5.card-title ZN8-80B5M213D
                            p.card-text Kamera bullet IP z serii GenSTAR o rozdzielczości 5MP z obiektywem MFZ zdalnie regulowanym z 5-krotnym przybliżeniem optycznym 2.7-13.5mm, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-B5M213D.png' alt='ZN8-B5M213D')
                        .card-body
                            h5.card-title ZN8-B5M213D
                            p.card-text Kamera bullet IP z serii GenSTAR o rozdzielczości 5MP z obiektywem MFZ zdalnie regulowanym z 5-krotnym przybliżeniem optycznym 2.7-13.5mm, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC.
                        .card-footer
                            a(href="/docs/brochures/ganz/ZN8-B5M213D_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-80B8M213D.png' alt='ZN8-80B8M213D')
                        .card-body
                            h5.card-title ZN8-80B8M213D
                            p.card-text Kamera bullet IP z serii GenSTAR o rozdzielczości 8MP z obiektywem MFZ zdalnie regulowanym z 5-krotnym przybliżeniem optycznym 2.7-13.5mm, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-B8M312D-2.png' alt='ZN8-B8M312D-2')
                        .card-body
                            h5.card-title ZN8-B8M312D-2
                            p.card-text Kamera bullet IP serii GenSTAR o rozdzielczości 8MP z obiektywem 3.3-12mm typu MFZ ze zdalną regulacją i funkcją auto-focus, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj. tryb korytarzowy, SMART-IR, ROI (Region of Interest) oraz HLC. Wyposażona w funkcję True-WDR oraz analitykę obrazu GenSTAR IVS, która realizuje funkcje wirtualnej linii perymetrycznej i strefy chronionej. Funkcje IVS dostępne są z poziomu rejestratorów GenSTAR.
                        .card-footer
                            a(href="/docs/brochures/ganz/ZN8-B8M312D-2_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-BB2M212-DR.png' alt='ZN8-BB2M212-DR')
                        .card-body
                            h5.card-title ZN8-BB2M212-DR
                            p.card-text Kamera big-bullet IP serii GenSTAR o rozdzielczości 2MP z obiektywem Motor-Zoom 2.7-12mm, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj., SMART-IR, funkcja DEFOG (korekcja mgły), tryb korytarzowy, ROI (Region of Interest), Smart Encode, True-WDR. Wyposażona w licencję LPR (ANPR) do automatycznego czytania oraz identyfikacji numerów talic rejestracyjnych.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-BB2M722-DR.png' alt='ZN8-BB2M722-DR')
                        .card-body
                            h5.card-title ZN8-BB2M722-DR
                            p.card-text Kamera big-bullet IP serii GenSTAR o rozdzielczości 2MP z obiektywem Motor-Zoom 7-22mm, wyposażona w szereg unikalnych funkcji wspierających jakość obrazu tj., SMART-IR, funkcja DEFOG (korekcja mgły), tryb korytarzowy, ROI (Region of Interest), Smart Encode, True-WDR. Wyposażona w licencję LPR (ANPR) do automatycznego czytania oraz identyfikacji numerów talic rejestracyjnych.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Kamery IP - Bullet - akcesoria
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZA-JCB-S2M25.jpg' alt='ZA-JCB-S2M25')
                        .card-body
                            h5.card-title ZA-JCB-S2M25
                            p.card-text Puszka natynkowa do kamer typu bullet z obiektywem zmienno-ogniskowym z serii PixelPRO (ZN / ZNC / ZNP)
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną


                    .card
                        img.card-img-top(src='/images/ganz/ZA8-JBMP-2.jpg' alt='ZA8-JBMP-2')
                        .card-body
                            h5.card-title ZA8-JBMP-2
                            p.card-text Puszka natynkowa do kamer PIXELPRO
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN

                    .card
                        img.card-img-top(src='/images/ganz/ZA8-CBK627B.jpg' alt='ZA8-CBK627B')
                        .card-body
                            h5.card-title ZA8-CBK627B
                            p.card-text Adapter do instalacji na słupie puszki ZA8-JBMP, zakres montażu opasek na uchwytach 130-152mm
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ganzlogo.png' alt='ZA8-CBK319')
                        .card-body
                            h5.card-title ZA8-CBK319
                            p.card-text Puszka natynkowa do kamer
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną



            .row.justify-content-center#projectsHeader
                header Kamera IP - Fisheye i akcesoria
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-F12F18NL.png' alt='ZN8-F12F18NL')
                        .card-body
                            h5.card-title ZN8-F12F18NL
                            p.card-text The GENSTAR fisheye camera delivers 12 Megapixel resolution in a 360° panoramic dome. Its unique dewarping function allows a non-distorted view of the 360° image. The dome features a fixed 1.8mm lens and 6 Smart IR LEDs suitable for up to a 49’ range.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZA8-CBK645A.jpg' alt='ZA8-CBK645A')
                        .card-body
                            h5.card-title ZA8-CBK645A
                            p.card-text Puszka montażowa do kamery ZN8-F12F18NL
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Kamery IP - PTZ
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-P5X40DL-H.png' alt='ZN8-P5X40DL-H')
                        .card-body
                            h5.card-title ZN8-P5X40DL-H
                            p.card-text Kamera PTZ IP 5MP z obiektywem 40x w obudowie IP66 wyposażona w szereg unikalnych funkcji wspierających jakość obrazu: SMART-IR, DEFOG (korekcja mgły), HLC, True-WDR, Auto-Tracking oraz analitykę obrazu GenSTAR IVS (wirtualna linia perymetryczna, strefy chronione) obsługiwaną przez rejestratory z serii GenSTAR. Wbudowana analityka IVS oraz funkcja Auto-Tracking.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-P5X12DL.jpg' alt='ZN8-P5X12DL')
                        .card-body
                            h5.card-title ZN8-P5X12DL
                            p.card-text Kamera mini PTZ IP serii GenSTAR o rozdzielczości 5MP z 12x zoomem w kompaktowej, kulistej obudowie. Kamera posiada szereg unikalnych funkcji wspierających jakość obrazu tj., SMART-IR, funkcja DEFOG (korekcja mgły), oraz ROI (Region of Interest). Model sprawdzony w wielu aplikacjach monitoringu miejskiego, doskonale radzi sobie z odczytem tablic rejestracyjnych. Wbudowany Auto-Tracking oraz analityka obrazu GenSTAR IVS, która realizuje funkcje wirtualnej linii perymetrycznej i strefy chronionej. Funkcje IVS dostępne są z poziomu rejestratorów GenSTAR.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                            

            .row.justify-content-center#projectsHeader
                header Kamery IP - Inne
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/ZN8-V2F37-DAS.png' alt='ZN8-V2F37-DAS')
                        .card-body
                            h5.card-title ZN8-V2F37-DAS
                            p.card-text Kamera miniaturowa IP serii GenSTAR o rozdzielczości 2MP z obiektywem otworkowym PINHOLE 3.7mm umożliwiającym obserwację sceny poprzez otwór o niewielkiej średnicy rzędu pojedynczych milimetrów. Miniaturowe gabaryty pozwalają na ukrycie kamery w innych urządzeniach (np. czujka ruchu, dymu, zegar naścienny, itp.). Kamera wyposażona jest w szereg unikalnych funkcji wspierających jakość obrazu tj., tryb korytarzowy, ROI (Region of Interest) oraz HLC (kompensacja silnych miejscowych prześwietleń obrazu wywołanych m.in. reflektorami samochodu). Wyposażona w funkcję True-WDR oraz analitykę obrazu GenSTAR IVS
                        .card-footer
                            a(href="/docs/brochures/ganz/ZN8-V2F37D-AS_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną


            .row.justify-content-center#projectsHeader
                header Kamery AHD
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/LCWB-P-5.jpeg' alt='LCWB-P-5')
                        .card-body
                            h5.card-title LCWB-P-5
                            p.card-text Kamera kompaktowa serii GANZ AHD z mocowaniem CS, kompatybilna z większością rozwiązań stosowanych na rynku dzięki obsłudze 4 systemów: AHD + TVI + CVI + CVBS 960H. Maksymalny dystans dla sygnału AHD - 300 m. Model wyposażony jest w przetwornik Sony IMX290 Starvis, co gwarantuje ponadprzeciętną jakość obrazu przy słabych warunkach oświetleniowych. Polecamy zastosowanie z obiektywem Computar 3MP z korekcją IR.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/E7-E5V212N-4.png' alt='E7-E5V212N-4')
                        .card-body
                            h5.card-title E7-E5V212N-4
                            p.card-text Kamera kopułowa serii GANZ AHD z obiektywem zmienno-ogniskowym 2.8-12mm, kompatybilna z większością rozwiązań stosowanych na rynku dzięki obsłudze 4 systemów: AHD + TVI + CVI + CVBS 960H. Maksymalny dystans dla sygnału AHD - 300 m. Model ten wyposażony został w przetwornik Sony IMX335, co gwarantuje ponadprzeciętną jakość obrazu przy słabych warunkach oświetleniowych. Kamera wyposażona w nowoczesne diody IR SMD redukujące pobór zasilania przy jednoczesnej poprawie jakości doświetlenia oraz szybę frontową typu BLACK FILM, która dodatkowo wzmacnia ten efekt. Opcjonalne podstawy montażowe LCA-DB-W.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/E7-B5V212N-4.png' alt='E7-B5V212N-4')
                        .card-body
                            h5.card-title E7-B5V212N-4
                            p.card-text Kamera bullet serii GANZ AHD z obiektywem zmienno-ogniskowym 2.8-12mm, kompatybilna z większością rozwiązań stosowanych na rynku dzięki obsłudze 4 systemów: AHD + TVI + CVI + CVBS 960H. Maksymalny dystans dla sygnału AHD - 300 m. Kamera wyposażona w nowoczesne diody IR SMD redukujące pobór zasilania przy jednoczesnej poprawie jakości doświetlenia oraz szybę frontową typu BLACK FILM, która dodatkowo wzmacnia ten efekt. Opcjonalne podstawy montażowe LCA-BB-P.
                        .card-footer
                            a(href="/docs/brochures/ganz/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Kamery AHD - Akcesoria
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/LCA-DB.jpg' alt='LCA-DB-W')
                        .card-body
                            h5.card-title LCA-DB-W
                            p.card-text Podstawa montażowa umożliwiająca ukrycie przewodów wewnątrz puszki co znacznie poprawia estetykę montażu i co ważniejsze chroni przewody i połączenia przed szkodliwym działaniem warunków zewnętrznych  
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/LCA-JB.jpg' alt='LCA-JB')
                        .card-body
                            h5.card-title LCA-JB
                            p.card-text Podstawa montażowa umożliwiająca ukrycie przewodów wewnątrz puszki co znacznie poprawia estetykę montażu i co ważniejsze chroni przewody i połączenia przed szkodliwym działaniem warunków zewnętrznych. Puszka w komplecie z dławikami  
                        .card-footer
                            a(href="/docs/brochures/ganz/GENSTAR-akcesoria-2017.01.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną


            .row.justify-content-center#projectsHeader
                header Monitory Vigilant - Seria Economy
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/PD236ECOv1.jpeg' alt='PD215ECO')
                        .card-body
                            h5.card-title PD215ECO
                            p.card-text Seria Economy. Monitor LED zaprojektowany z myślą o trybie pracy 24/7. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/X", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/PD236ECOv1.jpeg' alt='PD236ECO')
                        .card-body
                            h5.card-title PD236ECO
                            p.card-text Seria Economy. Monitor LED zaprojektowany z myślą o trybie pracy 24/7. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/PD236ECO_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/DS320FHD-ECO.jpg' alt='DS320FHD-ECO')
                        .card-body
                            h5.card-title DS320FHD-ECO
                            p.card-text ??????? Seria BNC. Monitor Full HD LED 32" zaprojektowany z myślą o trybie pracy 24/7. Wbudowane głośniki stereo pozwalają na rozszerzenie funkcjonalności stacji operatorskiej. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/DS320FHD-kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Monitory Vigilant z BNC
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/AS17LED-3.jpeg' alt='AS17LED-3')
                        .card-body
                            h5.card-title AS17LED-3
                            p.card-text Seria BNC. Monitor LED zaprojektowany z myślą o trybie pracy 24/7. Wbudowane głośniki stereo pozwalają na rozszerzenie funkcjonalności stacji operatorskiej. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/AS17LED-3_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/AS19LED-3.jpeg' alt='AS19LED-3')
                        .card-body
                            h5.card-title AS19LED-3
                            p.card-text Seria BNC. Monitor LED zaprojektowany z myślą o trybie pracy 24/7. Wbudowane głośniki stereo pozwalają na rozszerzenie funkcjonalności stacji operatorskiej. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/AS19LED-3_kk.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/ganz/DS320FHD-ECO.jpg' alt='DS320FHD')
                        .card-body
                            h5.card-title DS320FHD
                            p.card-text Seria BNC. Monitor Full HD LED 32" zaprojektowany z myślą o trybie pracy 24/7. Wbudowane głośniki stereo pozwalają na rozszerzenie funkcjonalności stacji operatorskiej. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/DS320FHD-kk", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/ganz/DS420FHD.png' alt='DS420FHD')
                        .card-body
                            h5.card-title DS420FHD
                            p.card-text Seria BNC. Monitor Full HD LED 42" zaprojektowany z myślą o trybie pracy 24/7. Wbudowane głośniki stereo pozwalają na rozszerzenie funkcjonalności stacji operatorskiej. Menu OSD pozwalające na konfigurację parametrów tj. kontrast, jasność, nasycenie, temperatura koloru, język, format obrazu.
                        .card-footer
                            a(href="/docs/brochures/vigilant/DS420FHD-kk", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną


            .row.justify-content-center
                img(src="/images/computar.png", alt="Logo COMPUTAR", id="brandlogo2")
            .row.row-cols-2 
                .col
                    img(src="/images/lens.png", alt="OBIEKTYW COMPUTAR", id="cctvImage")
                .col.my-auto
                    p 
                        | Obiektywy 
                        strong COMPUTAR 
                        | cechuje solidność, wysoka jakość oraz nadzwyczajna precyzja wykonania. Szeroka oferta produktowa zawiera obiektywy do zastosowań w systemach CCTV, automatyce przemysłowej oraz wielu innych aplikacjach.
            hr
            .row.justify-content-center
                h3 Pomiar temperatury ciała
                br
            .row.row-cols-2 
                .col
                    p Smart Terminal EN7-S02T pozwala na szybki i dokładny pomiar temperatury ciała oraz natychmiastowe wykrycie braku maseczki na twarzy. Jego działanie wyróżnia się wieloma zaletami, w tym:
                    ul 
                        li 
                            p 
                                strong Oszczędnością czasu 
                                | – w porównaniu do tradycyjnych termometrów pracuje bezdotykowo. Szybkość pomiaru wynosi od 1 do 2 sekund. W ten sposób zmniejsza się ryzyko powstawania długich kolejek i zatorów,
                        li 
                            p 
                                strong Wysoką wydajnością 
                                | bez konieczności angażowania do obsługi urządzenia dodatkowego personelu. Temperatura ciała mierzona jest z odległości od 0,5 m do 1,8 m,
                        li 
                            p
                                strong Dokładnością pomiaru 
                                | – różnica maksymalnie do 0,3 stopni Celsjusza,
                        li 
                            p
                                strong Autonomią działania 
                                | – Smart Terminal działa nawet przy braku połączenia z siecią czy internetem,
                        li 
                            p
                                strong Obsługą 13 języków (tekstowe i głosowe) 
                                | – informacje i komunikaty są na bieżąco przekazywane do osoby skanowanej. Dostępny jest tryb 2-językowy, w którym są wyświetlane i generowane przez głośnik komunikaty w dwóch językach (sekwencyjnie). Możliwe jest wgrywanie własnych komunikatów.
                        li 
                            p 
                                strong Funkcją liczenia osób 
                                | przechodzących przez bramkę, drzwi itp.,
                        li
                            p 
                                strong Łatwym w obsłudze oprogramowaniem 
                                | pozwalającym na wizualizację wyników napływających z terminala,
                        li 
                            p
                                strong Intuicyjną konfiguracją
                
                .col
                    img(src="/images/ganz/terminal_pomiaru_temp_ciala.png", alt="Terminal pomiaru temperatury ciała")
            hr

            .row.justify-content-center
                p INNE ROZWIĄZANIA
            .row.justify-content-center 
                img(src="/images/hikvision.png", alt="Logo HIKVISION", id="brandlogo") 
            .row 
                p Przedsiębiorstwo elektroniczne. Jego portfolio obejmuje kamery, programy do rozpoznawania twarzy i sprzęt do wideomonitoringu.
            .row.justify-content-center 
                img(src="/images/dahua.jpg", alt="Logo DAHUA", id="brandlogo") 
            .row 
                p Dahua to jeden z czołowych producentów i dostawców najnowszej generacji urządzeń wizyjnych takich jak kamery, rejestratory czy adaptery. Rejestratory Dahua umożliwiają również zdalny dozór nad mieniem a także pełną kontrolę tego, co dzieje się wokół obiektu.
            

























