extends includes/layout

block content
    .container-fluid 
        .container 
            .row.justify-content-center#cctv
                p GANZ logo
            .row.row-cols-2 
                .col.my-auto
                    p 
                        | Marka 
                        strong GANZ 
                        | oferuje zintegrowane rozwiązania dla wielu segmentów rynku i obejmuje szeroki wachlarz produktów począwszy od kamer AHD i IP, poprzez inteligentną analitykę obrazu, po rejestratory sieciowe i zaawansowane oprogramowanie centralnego zarządzania.
                .col
                    img(src="/images/ganz_cam3.png", alt="Kamera GANZ", id="cctvImage")
            hr
            .row.justify-content-center
                p COMPUTAR logo
            .row.row-cols-2 
                .col
                    img(src="/images/lens.png", alt="OBIEKTYW COMPUTAR", id="cctvImage")
                .col.my-auto
                    p 
                        | Obiektywy 
                        strong COMPUTAR 
                        | cechuje solidność, wysoka jakość oraz nadzwyczajna precyzja wykonania. Szeroka oferta produktowa zawiera obiektywy do zastosowań w systemach CCTV, automatyce przemysłowej oraz wielu innych aplikacjach.
            hr
            .row.justify-content-center
                p Pomiar temperatury ciała
            .row.row-cols-2 
                .col
                    p Smart Terminal EN7-S02T pozwala na szybki i dokładny pomiar temperatury ciała oraz natychmiastowe wykrycie braku maseczki na twarzy. Jego działanie wyróżnia się wieloma zaletami, w tym:
                    ul 
                        li 
                            p 
                                strong Oszczędnością czasu 
                                | – w porównaniu do tradycyjnych termometrów pracuje bezdotykowo. Szybkość pomiaru wynosi od 1 do 2 sekund. W ten sposób zmniejsza się ryzyko powstawania długich kolejek i zatorów,
                        li 
                            p 
                                strong Wysoką wydajnością 
                                | bez konieczności angażowania do obsługi urządzenia dodatkowego personelu. Temperatura ciała mierzona jest z odległości od 0,5 m do 1,8 m,
                        li 
                            p
                                strong Dokładnością pomiaru 
                                | – różnica maksymalnie do 0,3 stopni Celsjusza,
                        li 
                            p
                                strong Autonomią działania 
                                | – Smart Terminal działa nawet przy braku połączenia z siecią czy internetem,
                        li 
                            p
                                strong Obsługą 13 języków (tekstowe i głosowe) 
                                | – informacje i komunikaty są na bieżąco przekazywane do osoby skanowanej. Dostępny jest tryb 2-językowy, w którym są wyświetlane i generowane przez głośnik komunikaty w dwóch językach (sekwencyjnie). Możliwe jest wgrywanie własnych komunikatów.
                        li 
                            p 
                                strong Funkcją liczenia osób 
                                | przechodzących przez bramkę, drzwi itp.,
                        li
                            p 
                                strong Łatwym w obsłudze oprogramowaniem 
                                | pozwalającym na wizualizację wyników napływających z terminala,
                        li 
                            p
                                strong Intuicyjną konfiguracją
                
                .col
            hr

            .row.justify-content-center
                p INNE ROZWIĄZANIA
            .row.justify-content-center 
                p logo HIK 
            .row 
                p Przedsiębiorstwo elektroniczne. Jego portfolio obejmuje kamery, programy do rozpoznawania twarzy i sprzęt do wideomonitoringu.
            .row.justify-content-center 
                p logo DAHUA 
            .row 
                p Dahua to jeden z czołowych producentów i dostawców najnowszej generacji urządzeń wizyjnych takich jak kamery, rejestratory czy adaptery. Rejestratory Dahua umożliwiają również zdalny dozór nad mieniem a także pełną kontrolę tego, co dzieje się wokół obiektu.
            

























