extends includes/layout

block content
    .container
        div.row#companyname
            h3 ATOM SERVICE Krzysztof Gondek Sp. J.
            p Sprzedaż i serwis systemów zabezpieczenia technicznego
            hr

    .container#cards
        div.row

            div.col-lg-6
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Oferta usług
                    a(href='/uslugi')
                        img.card-img(src="images/electrician.jpg" alt="Usługi")
            div.col-lg-6
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Oferta handlowa
                    a(href='/handel')
                        img.card-img(src="images/shopping.jpg" alt="Handel")
    .container
        .row#companyname 
            hr
            h5 Autoryzowany dystrybutor:
        .row
            .col-lg#vanderbiltlogo
                img(src="images/vanderbilt.png", alt="")
            .col-lg#ganzlogo
                img(src="images/ganzlogo.png", alt="")
            