extends includes/layout

block content

    .container-fluid 
        .container 
            .row.justify-content-center
                img(src="/images/vanderbilt_logo.png" alt="Vanderbilt")
            .row.row-cols-2 
                .col.my-auto
                    p Środki mające na celu zapewnienie dostępu do zasobów tylko uprawnionym jednostkom. 
                    | Często systemy te wykorzystuje się do zabezpieczania pojedynczych pomieszczeń, takich jak magazyny czy serwerownie.
                    br
                    br
                    a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank")
                        button.btn.btn-warning(type='submit') Pobierz broszurę informacyjną
                .col
                    img(src="/images/kd1.jpg", alt="Kontrola dostępu", id="cctvImage")
