extends includes/layout

block content
    .container#cardsSales
        div.row
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Systemy Sygnalizacji Włamania i Napadu
                    a(href='/handel/sswin')
                        img.card-img(src="images/sswin_siemens.jpg" alt="SSWiN")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Telewizja Przemysłowa CCTV
                    a(href='/handel/cctv')
                        img.card-img(src="images/cctv_ganz.jpg" alt="CCTV")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Kontrola Dostępu i Rejestracja Czasu Pracy
                    a(href='/handel/kd')
                        img.card-img(src="images/vanderbilt_reader.jpg" alt="KD i RCP")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center Systemy Sygnalizacji Pożaru
                    a(href='/handel/ssp')
                        img.card-img(src="images/ssp.jpg" alt="SSP")