extends includes/layout

block content
    .container#cardsSales
        div.row
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center SSWiN
                    a(href='/')
                        img.card-img(src="images/sswin.jpg" alt="Usługi")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center CCTV
                    a(href='/')
                        img.card-img(src="images/cctv.jpg" alt="Handel")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center KD i RCP
                    a(href='/')
                        img.card-img(src="images/kd.jpg" alt="Usługi")
            div.col-lg-3.col-sm-6.col-xs-12
                div.card.shadow-lg
                    div.card-body
                        h5.card-title.text-center SSP
                    a(href='/')
                        img.card-img(src="images/ssp.jpg" alt="Handel")