extends includes/layout

block content
    .container-fluid 
        .container 
            .row.justify-content-center#projectsHeader
                header Sprzedaż i instalacja 
            .row.row-cols-md-2#projects 
                .col.my-auto
                    
                    p Sprzedajemy i instalujemy systemy:
                        ul
                            li sygnalizacji włamania i napadu,
                            li telewizji przemysłowej i dozorującej,
                            li kontroli dostępu i rejestru czasu pracy,
                            li sygnalizacji pożaru,
                            li automatyki budynkowej.

                .col
                    img(src="images/projektowanie.jpg", alt="" id="projektowanieIMG")
            br
            hr
            //- .row.justify-content-center#projectsHeader
            //-     header Audyty 
            .row.row-cols-md-2#projects 
                .col.my-auto
                    
                    p W ramach działalności wykonujemy:
                        ul
                            li koncepcje przedprojekotwe,
                            li projekty wykonawcze wraz z dokumentacją,
                            li instalacje wraz z pełnym rozruchem systemów zakończone szkoleniem,
                            li serwis elektronicznych systemów zabezpieczeniowych.
                .col
                    img(src="images/audyt.jpg", alt="" id="projektowanieIMG")
            br
            hr
            .row.justify-content-center#projectsHeader
                header Dodatkowe usługi 
            .row#projects 
                .col.my-auto
                    
                    p Ponadto zajmujemy się:
                        ul
                            li audytami bezpieczeństwa wraz z koncepcjami organizacji ochrony z optymalizacją kosztów,
                            li opracowywaniem konstytucji zabezpieczeniowych normalizujących systemy i organizację ochrony obiektów,
                            li sporządzaniem planów ochrony.
            br
            hr
    //- .container-fluid 
    //-     .container 
    //-         .row.justify-content-center#projectsHeader
    //-             header Projektowanie 
    //-         .row.row-cols-md-2#projects 
    //-             .col.my-auto
                    
    //-                 p W ramach działalności wykonujemy:
    //-                     ul
    //-                         li koncepcje przedprojektowe,
    //-                         li projekty wykonawcze wraz z dokumentacją,
    //-                         li instalacje wraz z pełnym rozruchem systemów zakończone szkoleniem,
    //-                         li serwis elektronicznych systemów zabezpieczeniowych.

    //-             .col
    //-                 img(src="images/projektowanie.jpg", alt="" id="projektowanieIMG")
    //-         br
    //-         hr
    //-         .row.justify-content-center#projectsHeader
    //-             header Audyty 
    //-         .row.row-cols-md-2#projects 
    //-             .col.my-auto
                    
    //-                 p Ponadto zajmujemy się:
    //-                     ul
    //-                         li audytami bezpieczeństwa wraz z koncepcjami organizacji ochrony z optymalizacją kosztów,
    //-                         li opracowywaniem konstytucji zabezpieczeniowych normalizujących systemy i organizację ochrony obiektów,
    //-                         li sporządzaniem planów ochrony.
    //-             .col
    //-                 img(src="images/audyt.jpg", alt="" id="projektowanieIMG")
    //-         br
    //-         hr