extends includes/layout

block content

    .container-fluid 
        .container 
            .row.justify-content-center
                img(src="/images/ssp.JPG" alt="SSP")
            .row.row-cols-2 
                .col.my-auto
                  
                .col