extends includes/layout

block content
    .container-fluid#sswin
        .container
            .row.justify-content-center
                img(src="/images/vanderbilt_logo.png" alt="Vanderbilt")
            .row
                p
                    strong Vanderbilt
                    |  oferuje szeroką gamę produktów systemów bezpieczeństwa i wyjątkową obsługę klienta w oparciu o podstawowe wartości: funkcjonalność, łatwość adaptacji, niezawodność.
            .row.justify-content-center#projectsHeader
                header Centrale alarmowe
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spc4320_320_l1_v3.png' alt='...')
                        .card-body
                            h5.card-title SPC4320.320-L1
                            p.card-text Centrala alarmowa SPC4320.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 4 grupy alarmowe, 32 linie ( 8 na płycie), do 4 drzwi i 4 klawiatur. Do 100 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5320_320_l1.png' alt='...')
                        .card-body
                            h5.card-title SPC5320.320-L1
                            p.card-text Centrala alarmowa SPC5320.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 16 grup alarmowych 128 linii ( 8 na płycie), do 16 drzwi i 16 klawiatur. Do 500 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC5320_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5330_320_l1_v2.png' alt='SPC5330.320-l1')
                        .card-body
                            h5.card-title SPC5330.320-L1
                            p.card-text Centrala alarmowa SPC5330.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 16 grup alarmowych 128 linii ( 8 na płycie), do 16 drzwi i 16 klawiatur. Do 500 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5350_320_L1.png' alt='SPC5350.320-L1')
                        .card-body
                            h5.card-title SPC5350.320-L1
                            p.card-text Centrala alarmowa SPC5350.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 16 grup alarmowych 128 linii ( 16 na płycie), do 16 drzwi i 16 klawiatur. Do 500 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc6330_320_l1.jpg' alt='...')
                        .card-body
                            h5.card-title SPC6330.320-L1
                            p.card-text Centrala alarmowa SPC6330.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 60 grup alarmowych, 512 linii ( 8 na płycie), do 64 drzwi i 32 klawiatur. Do 2500 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5350_320_L1.png' alt='...')
                        .card-body
                            h5.card-title SPC6350.320-L1
                            p.card-text Centrala alarmowa SPC6350.320-L1 z wbudowanym portem Ethernet łączy funkcje SSWiN i SKD. Pozwala na stworzenie systemu obejmującego: 60 grup alarmowych 512 linii ( 16 na płycie), do 64 drzwi i 32 klawiatur. Do 2500 użytkowników, wbudowany Web Serwer.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPC6350_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5300_v1.jpg' alt='...')
                        .card-body
                            h5.card-title SPC4300.000
                            p.card-text Płyta główna kontrolera SPC4300.000 (bez oprogramowania) jako część zamienna paneli sterowania SPC43XX.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5300_v1.jpg' alt='...')
                        .card-body
                            h5.card-title SPC5300.000
                            p.card-text Płyta główna kontrolera SPC5300.000 (bez oprogramowania) jako część zamienna paneli sterowania SPC5330 / 5320.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spc5300_v1.jpg' alt='...')
                        .card-body
                            h5.card-title SPC6300.000
                            p.card-text Płyta główna kontrolera SPC6300.000 (bez oprogramowania) jako część zamienna paneli sterowania SPC63XX.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Moduły
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spce6520.jpg' alt='...')
                        .card-body
                            h5.card-title SPCE652.000
                            p.card-text Ekspander SPCE652.000 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o 8 wejść parametrycznych DEOL i 2 programowalne wyścia przekaźnikowe. Przekaźniki zapewniają wyjścia bezpotencjałowe NO i NC.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCE652_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spce652.png' alt='...')
                        .card-body
                            h5.card-title SPCE652.100
                            p.card-text Ekspander SPCE652.100 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o 8 wejść parametrycznych DEOL i 2 programowalne wyścia przekaźnikowe. Przekaźniki zapewniają wyjścia bezpotencjałowe NO i NC. Obudowa z zabezpieczeniem antysabotażowym (otwarcie i oderwanie)
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spce651.png' alt='...')
                        .card-body
                            h5.card-title SPCE651.100
                            p.card-text Ekspander SPCE651.100 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o 8 wejść parametrycznych DEOL i 2 programowalne wyścia przekaźnikowe. Przekaźniki zapewniają wyjścia bezpotencjałowe NO i NC.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spce452_100.png' alt='...')
                        .card-body
                            h5.card-title SPCE452.100
                            p.card-text Ekspander SPCE452.100 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o 8 w pełni programowalne wyścia przekaźnikowe. Przekażniki zapewniają wyjścia bezpotencjałowe NO i NC.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spca210_100.png' alt='...')
                        .card-body
                            h5.card-title SPCA210.100
                            p.card-text Ekspander SPCA210.100 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o 2 przejścia kontroli dostępu. Wewnętrzna pamięć pozwala na zapamiętanie 512 kart użytkowników (praca w trybie off-line).
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spce120_100.png' alt='...')
                        .card-body
                            h5.card-title SPCE120.100
                            p.card-text Ekspander SPCE120.100 umożliwia rozbudowę systemu SPC poprzez magistralę X-BUS o tablicę synoptyczą. Moduł wyposażony jest w 16 trójkolorowych diod LED, 4 przyciski funkcyjne,oraz wbudowany czytnik zbliżeniowy (125kHz, EM4102)
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Zasilacze
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp333_300.png' alt='...')
                        .card-body
                            h5.card-title SPCP333.300
                            p.card-text SPCP333.300 Inteligentny zasilacz z ekspanderem w metalowej obudowie G3 rozszerzający system SPC poprzez magistralę X-Bus o monitorowane źródło zasilania buforowanego 12 V oraz 8 wejść parametryzowanych i 2 wyjścia przekaźnikowe. Obudowa z czujnikami otwarcia i oderwania, miejscem na akumulator 17Ah i 3 opcjonalne moduły.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCP333_SPCP332_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp355_300.png' alt='...')
                        .card-body
                            h5.card-title SPCP355.300
                            p.card-text SPCP355.300 Inteligentny zasilacz z ekspanderem w metalowej obudowie G5 rozszerzający system SPC poprzez magistralę X-Bus o monitorowane źródłó zasilania buforowanego 12 V oraz 8 wejść parametryzowanych i 6 wyjść przekaźnikowych. Obudowa z czujnikami otwarcia i oderwania, miejscem na akumulator 2x27Ah i 6 opcjonalnych modułów
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp433_300.png' alt='...')
                        .card-body
                            h5.card-title SPCP433.300
                            p.card-text SPCP433.300 Inteligentny zasilacz z ekspanderem w metalowej obudowie G3 rozszerzający system SPC poprzez magistralę X-Bus o monitorowane źródło zasilania buforowanego 12 V oraz zaawansowany kontroler 2 przejść. Obudowa z czujnikiem otwarcia i miejscem na akumulator 17Ah.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp332_300.png' alt='...')
                        .card-body
                            h5.card-title SPCP332.300
                            p.card-text SPCP332.300 Inteligentny zasilacz z ekspanderem w metalowej obudowie G2 rozszerzający system SPC poprzez magistralę X-Bus o monitorowane źródło zasilania buforowanego 12 V oraz 8 wejść parametryzowanych i 2 wyjścia przekaźnikowe. Obudowa z czujnikiem otwarcia i miejscem na akumulator 7Ah.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCP333_SPCP332_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp432_300.png' alt='...')
                        .card-body
                            h5.card-title SPCP432.300
                            p.card-text SPCP432.300 Inteligentny zasilacz z ekspanderem w metalowej obudowie G2 rozszerzający system SPC poprzez magistralę X-Bus o monitorowane źródło zasilania buforowanego 12 V oraz zaawansowany kontroler 2 przejść. Obudowa z czujnikiem otwarcia i miejscem na akumulator 7Ah.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcp355_000.jpg' alt='...')
                        .card-body
                            h5.card-title SPCP355.000
                            p.card-text SPCP355.000 płyta główna ekspandera PSU (zasilacz i ekspander z 8 wejściami i 2 wyjściami) jako część zapasowa central SPCP355 smart PSU i SPC6350 / SPC6350.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row.justify-content-center#projectsHeader
                header Czujki PIR
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i12.jpg' alt='...')
                        .card-body
                            h5.card-title PDM-I12
                            p.card-text Czujka ruchu PIR wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału VISATEC. Zasięg 12m, brak strefy podejścia, opcja lustra kurtynowego do 20m. Wbudowane rezystory EOL: 4k7, 2k2, 4k7. Uodporniona na zwierzęta do 20 kg
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/PDM-I12_PDM-I12T_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i12.jpg' alt='...')
                        .card-body
                            h5.card-title PDM-I12T
                            p.card-text Czujka ruchu PIR z antymaskingiem wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału VISATEC. Zasieg 12 m, brak strefy podejścia - opcjonalne lustro kurtynowe (20m). wbudowane rezystory EOL: 4k7,2k2, 4k7
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/PDM-I12_PDM-I12T_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i18.png' alt='...')
                        .card-body
                            h5.card-title PDM-I18
                            p.card-text Czujka ruchu PIR wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału VISATEC. Zasięg 18m, brak strefy podejścia, opcja lustra kurtynowego do 30m. Wbudowane rezystory EOL: 4k7, 2k2, 4k7. Uodporniona na zwierzęta do 20 kg.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i18.png' alt='...')
                        .card-body
                            h5.card-title PDM-I18T
                            p.card-text Czujka ruchu PIR z antymaskingiem wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału VISATEC. Zasieg 12 m, brak strefy podejścia - opcjonalne lustro kurtynowe (20m). wbudowane rezystory EOL: 4k7,2k2, 4k7
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    
            .row.justify-content-center#projectsHeader
                header Czujki dualne
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i12.jpg' alt='...')
                        .card-body
                            h5.card-title PDM-IXA12 
                            p.card-text Czujka ruchu PIR+MW wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału MATCHTEC. Zasięg 12m, brak strefy podejścia, opcja lustro kurtynowego (20m). Uodporniona na zwierzęta do 20 kg (opcja klip PET). Rezystory EOL
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/PDM-IXx12_PDM-IXx12T_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i12.jpg' alt='...')
                        .card-body
                            h5.card-title PDM-IXA12T
                            p.card-text Czujka ruchu PIR+MW+AM wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału MATCHTEC. Zasięg 12m, brak strefy podejścia, opcja lustro kurtynowego (20m). Uodporniona na zwierzęta do 20 kg (opcja klip PET). Rezystory EOL
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/PDM-IXx12_PDM-IXx12T_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i18.png' alt='...')
                        .card-body
                            h5.card-title PDM-IXA18
                            p.card-text Czujka ruchu PIR+MW wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału MATCHTEC. Zasięg 18m, brak strefy podejścia, opcja lustro kurtynowego (30m). Rezystory EOL.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/pdm_i18.png' alt='...')
                        .card-body
                            h5.card-title PDM-IXA18T
                            p.card-text Czujka ruchu PIR+MW+AM wykorzystująca opatentowane lustro MAGIC oraz algorytm cyfrowego przetwarzania sygnału MATCHTEC. Zasięg 18m, brak strefy podejścia, opcja lustro kurtynowego (30m). Rezystory EOL
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    
            .row.justify-content-center#projectsHeader
                header Czujki sejsmiczne
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/gm710.jpg' alt='...')
                        .card-body
                            h5.card-title GM710
                            p.card-text Czujka sejsmiczna
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gm710.jpg' alt='...')
                        .card-body
                            h5.card-title GM730
                            p.card-text GM730 to wszechstronna czujka do zabezpieczenia obiektów betonowych i stalowych takich jak: sejfy, skarbce, nocne depozytory, bankomaty. Produkt posiada aprobatę VdS Class C.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/GM730_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gm760.jpg' alt='...')
                        .card-body
                            h5.card-title GM760
                            p.card-text Detektor sejsmiczny GM760 jest uniwersalnym urządzeniem z serii GM7xx firmy Vanderbilt. Doskonale nadaje się do zastosowań na stali, betonie, a także lekkich materiałach syntetycznych. Inteligentne przetwarzanie sygnału umożliwia dostosowanie poziomu czułości wykrywania, zmniejszając w ten sposób ryzyko fałszywych alarmów. Zabezpieczenie antysabotażowe osłony czujki wykryje otwarcie czujki, a zabezpieczenie przeciwsabotażowe z tyłu czujki wykryje wymuszone usunięcie.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/GM760_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/gm760.jpg' alt='...')
                        .card-body
                            h5.card-title GM775
                            p.card-text GM775 oferuje najwyższy stopień bezpieczeństwa i wydajności w rodzinie czujników sejsmicznych GM7xx. Jest przeznaczony do zastosowań wysokiego ryzyka i nadaje się nie tylko do stali i betonu, ale także do lekkich materiałów syntetycznych. Inteligentne przetwarzanie sygnału umożliwia dostosowanie poziomu czułości wykrywania, zmniejszając w ten sposób ryzyko fałszywych alarmów. Zabezpieczenie antysabotażowe osłony czujki wykryje otwarcie czujki, a zabezpieczenie przeciwsabotażowe z tyłu czujki wykryje wymuszone usunięcie. GM775 ma elektroniczne wyjście alarmowe do podłączenia do systemu wskaźnika alarmu GMYA7.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gmxs1.jpg' alt='...')
                        .card-body
                            h5.card-title GMXS1
                            p.card-text Przetwornik testowy GMXS1 jest częścią systemu testowania czujników sejsmicznych serii GM7xx. Jest on instalowany w bezpośredniej bliskości czujki i służy do testu działania i montażu pojedynczego czujnika sejsmicznego przed uzbrojeniem systemu.


                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gmxp3.png' alt='...')
                        .card-body
                            h5.card-title GMXP3
                            p.card-text Zestaw ochony zamka dla czujek serii GM7xx
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/gmxp3z.png' alt='...')
                        .card-body
                            h5.card-title GMXP3Z
                            p.card-text Zestaw ochony zamka dla czujek serii GM7xx
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gmxp0.png' alt='...')
                        .card-body
                            h5.card-title GMXP0
                            p.card-text Płyta montażowa dla czujek serii GM7xx
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/gmas6_v1.jpg' alt='...')
                        .card-body
                            h5.card-title GMAS6
                            p.card-text Zestaw płyt montażowych dla czujek serii GM7xx
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Czujki wibracyjne
            hr
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/es400.jpg' alt='...')
                        .card-body
                            h5.card-title ES400
                            p.card-text ES400 czujka wibracyjna, która może być montowana na oknach, drzwiach, ścianach.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/esc400.jpg' alt='...')
                        .card-body
                            h5.card-title ESC400
                            p.card-text ESC400 metalowa obudowa do czujki ES400.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/es470.png' alt='...')
                        .card-body
                            h5.card-title ES470
                            p.card-text ES470 czujka wibracji i wstrząsów.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/esm400.jpg' alt='...')
                        .card-body
                            h5.card-title ESM400
                            p.card-text ESM400 Płytka montażowa do betonu / cegły dla ES400.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/mp550.jpg' alt='...')
                        .card-body
                            h5.card-title MP550
                            p.card-text MP550 płyta montażowa do ES470
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/est400.jpg' alt='...')
                        .card-body
                            h5.card-title EST400
                            p.card-text EST400 tester czujki ES400
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                        
            .row.justify-content-center#projectsHeader
                header Czujki magnetyczne
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/mk4400.jpg' alt='...')
                        .card-body
                            h5.card-title MK-4400
                            p.card-text MK-4400 czujka magnetyczna
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/mk4000_3.jpg' alt='...')
                        .card-body
                            h5.card-title MK-4000-3
                            p.card-text MK-4000-3 dystans do czujki magnetycznej
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/mk4000_4.jpg' alt='...')
                        .card-body
                            h5.card-title MK-4000-4
                            p.card-text MK-4000-4 dystans do czujki magnetycznej
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/mk2400_6.jpg' alt='...')
                        .card-body
                            h5.card-title MK-2400-6
                            p.card-text MK-2400-6 Czujka magnetyczna
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/mk2000_4.jpg' alt='...')
                        .card-body
                            h5.card-title MK-2000-4
                            p.card-text MK-2000-4 zestaw do montażu powierzchniowego
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Czujki stłuczenia
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/agb800.png' alt='...')
                        .card-body
                            h5.card-title AGB800
                            p.card-text AGB800 Czujnik stłuczenia szkła
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/AGB800_AGB800-AM_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/agb800am.jpg' alt='...')
                        .card-body
                            h5.card-title AGB800-AM
                            p.card-text AGB800-AM Czujnik stłuczenia szkła z antymaskingiem
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/AGB800_AGB800-AM_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Klawiatury
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spck420_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK420.100
                            p.card-text Klawiatura LCD SPCK420.100 zapewnia użytkownikowi interfejs wykorzystujący ikony do sterowania systemem beżpieczeństwa. 32- zankowy niebiesko podświetlany wyświetlacz i klawiatura umożliwiają kontrolę w każdych warunkach oświetleniowych.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCK420_SPCK421_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spck421_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK421.100
                            p.card-text Klawiatura LCD SPCK421.100 zapewnia użytkownikowi interfejs wykorzystujący ikony do sterowania systemem bezpieczeństwa. 32- znakowy niebiesko podświetlany wyświetlacz i klawiatura umożliwiają kontrolę w każdych warunkach oświetleniowych. z czytnikiem kart
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCK420_SPCK421_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spck520_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK520.100
                            p.card-text Klawiatura LCD SPCK520.100-N jest wyposażona w klawiaturę sensoryczną, wyświetlacz graficzny oraz buzzer. Dzięki 4 klawiszom programowalnym oraz klawiszom nawigacyjnym ułatwia obsługę, minimalizując liczbę wykonywanych operacji. Wbudowany głośnik. bez logo producenta.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spck521_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK521.100
                            p.card-text Klawiatura LCD SPCK521.100-N jest wyposażona w klawiaturę sensoryczną, wyświetlacz graficzny, czytnik zbliżeniowy oraz buzzer. Dzięki 4 klawiszom programowalnym oraz klawiszom nawigacyjnym ułatwia obsługę, minimalizując liczbę wykonywanych operacji. Wbudowany głośnik. bez logo producenta.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spck620_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK620.100
                            p.card-text Klawiatura LCD SPCK520.100-N jest wyposażona wyświetlacz graficzny. Dzięki 4 klawiszom programowalnym oraz klawiszom nawigacyjnym ułatwia obsługę, minimalizując liczbę wykonywanych operacji.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCK620_SPCK623_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spck623_100.png' alt='...')
                        .card-body
                            h5.card-title SPCK623.100
                            p.card-text Klawiatura LCD SPCK623.100 jest wyposażona wyświetlacz graficzny, czytnik zbliżeniowy, buzzer . Dzięki 4 klawiszom programowalnym oraz klawiszom nawigacyjnym ułatwia obsługę, minimalizując liczbę wykonywanych operacji.
                        .card-footer
                            a(href="/docs/brochures/vanderbilt/SPCK620_SPCK623_en.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Komunikacja
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spcn110_000.png' alt='...')
                        .card-body
                            h5.card-title SPCN110.000
                            p.card-text Modem PTSN V90 (max 56k) kompatybilny z sentralami serii SPC firmy Vanderbilt. Montowany bezpośrednio na płytę głóną centrali, bez konieczności wykonywania dodatkowych połączęń. Umożliwia kontrollę linii i komunikację Z CMA poprzez protokoły SIA lub Contact ID.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcn320_000.png' alt='...')
                        .card-body
                            h5.card-title SPCN320.000
                            p.card-text Moduł GSM z anteną (SPCN320.00)może współpracować z dowolną siecią komórkową poprzez włożenie standardowej karty SIM. Modem jest kompatybilny z wszystkimi centralami serii SPC firmy Vanderbilt i jest mocowany bezpośrednio na płycie głównej centrali.Umożliwia komunikację ZSMA poprzez protokoły Contact ID I SIA oraz IP przez sieć 2G/3G.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcn340_000.jpg' alt='...')
                        .card-body
                            h5.card-title SPCN340.000
                            p.card-text Moduł GSM (4G) z anteną może współpracować z dowolną siecią komórkową poprzez włożenie standardowej karty SIM. Modem jest kompatybilny z wszystkimi centralami serii SPC firmy Vanderbilt i jest mocowany bezpośrednio na płycie głównej centrali.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

            .row.justify-content-center#projectsHeader
                header Transmisja bezprzewodowa - Si-Way
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/imkw6_10.png' alt='...')
                        .card-body
                            h5.card-title IMKW6-10
                            p.card-text Bezprzewodowy kontaktron
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/ipaw6_10.jpg' alt='...')
                        .card-body
                            h5.card-title IPAW6-10
                            p.card-text Bezprzewodowy osobisty przycisk napadowy 
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcw130.jpg' alt='...')
                        .card-body
                            h5.card-title SPCW130.100
                            p.card-text Ekspander SPCW130.100 SiWay RF jest podłączony do X-BUS i zapewnia punkt dostępowy dla bezprzewodowych detektorów i pilotów podłączonych do systemu. Ekspander jest dostarczany w plastikowej obudowie z przednim zabezpieczeniem przed ingerencją osób niepowołanych i posiada również X -BUS LED statusu i wbudowany brzęczyk do łatwej identyfikacji urządzenia i szerokich możliwości autodiagnostyki.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną  
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/ipaw8.jpg' alt='...')
                        .card-body
                            h5.card-title IPAW8-10
                            p.card-text Bezprzewodowy pilot osobisty IPAW8-10 zapewnia dodatkowe funkcje bezpieczeństwa i komfortu.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/ircw6_12.jpg' alt='...')
                        .card-body
                            h5.card-title IRCW6-12 RC
                            p.card-text Bezprzewodowy pilot zdalnego sterowania
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/spcw111.jpg' alt='...')
                        .card-body
                            h5.card-title SPCW111.000
                            p.card-text Moduł SiWay RF rozszerza SPC o punkt dostępu do bezprzewodowych czujek. Moduł bezprzewodowy podłącza się bezpośrednio do głównej płytki SPC z plastikową obudową / pokrywą.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną   
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spcw112.png' alt='...')
                        .card-body
                            h5.card-title SPCW112.000
                            p.card-text Moduł SPCW112.000 SiWay dla standardowych manipulatorów LCD SPCK420 / 421 rozszerza system SPC o bezprzewodowy punkt dostępowy dla bezprzewodowych detektorów i pilotów. Moduł bezprzewodowy jest podłączony bezpośrednio do płytki PCB manipulatora.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/isrw6_12r.jpg' alt='...')
                        .card-body
                            h5.card-title ISRW6-12R
                            p.card-text Bezprzewodowy zewnętrzny sygnalizator - kolor czerwony
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/isrw6_12b.jpg' alt='...')
                        .card-body
                            h5.card-title ISRW6-12B
                            p.card-text Bezprzewodowy zewnętrzny sygnalizator - kolor niebieski
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną   

            .row.justify-content-center#projectsHeader
                header Transmisja bezprzewodowa - 2-Way
            hr
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/spcw120.png' alt='...')
                        .card-body
                            h5.card-title SPCW120.000
                            p.card-text Zestaw składający się z modułu bezprzewodowego 868- 869 MHz oraz anteny zewnętrznej. Pozwala na komunikację dwustronna bezprzewodowych: pilotów oraz cczujek z centralą serii SPC.Moduł jest montowany bezpośrednio na płycie centrali, a dołaczona antena może być przymocowana bezpośrednio do obudowy centrali.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/wrmt.png' alt='...')
                        .card-body
                            h5.card-title WRMT
                            p.card-text WRMT jest wielofunkcyjnym pilotem zdalnego sterowania, który pozwala użytkownikowi na interakcję z systemem SPC. Urządzenie obsługuje typowe funkcje, takie jak Uzbrój, Rozbrój i Uzbrój Częściowo, a także programowalną przez użytkownika funkcję wyjścia i funkcję napadową SOS. Bateria WRMT jest również wymienialna przez maksymalny okres eksploatacji.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/wsmk.jpg' alt='...')
                        .card-body
                            h5.card-title WSMK
                            p.card-text Bezprzewodowy detektor dymu i ciepła
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną                                 
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt/wpir.jpg' alt='...')
                        .card-body
                            h5.card-title WPIR
                            p.card-text Bezprzewodowa czujka ruchu PIR
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/wmag_i.jpg' alt='...')
                        .card-body
                            h5.card-title WMAG-I
                            p.card-text Bezprzewodowa czujka magnetyczna - kontaktron
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną

                    .card
                        img.card-img-top(src='/images/vanderbilt/wmag.png' alt='...')
                        .card-body
                            h5.card-title WMAG
                            p.card-text Bezprzewodowa czujka magnetyczna slim - kontaktron 
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną   
            .row#rowproductsSSWIN 
                .card-deck#productsSSWIN
                    .card
                        img.card-img-top(src='/images/vanderbilt_logo.png' alt='...')
                        .card-body
                            h5.card-title WPRTR
                            p.card-text Brak danych
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/vanderbilt/wpan.jpg' alt='...')
                        .card-body
                            h5.card-title WPAN
                            p.card-text WPAN Bezprzewodowy osobisty przycisk napadowy
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną
                    .card
                        img.card-img-top(src='/images/vanderbilt/wsir_ext_r.jpg' alt='...')
                        .card-body
                            h5.card-title WSIR-EXT-R
                            p.card-text WSIR-EXT-R to dwukierunkowy, bezprzewodowy zewnętrzny sygnalizator akustyczny/świetlny z czerwonym obiektywem. Wyjścia akustyczne i wizualne są sterowane niezależnie od siebie z panelu SPC.
                        .card-footer
                            a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
                                button(class="btn btn-warning") Pobierz broszurę informacyjną                                              


            //- TODO
            //- Akcesoria
            //- Transmisja bezprzewodowa 


            //- .row#card-section
            //-     .card.card-header.card-section(data-toggle="collapse" data-target="#centralealarmowe" aria-expanded="false" aria-controls="centralealarmowe") 
            //-         h3.card-title Centrale alarmowe
            //-             //- svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16")
            //-             //-     path(fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z")
            //-             //-     path(fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z")

            //-     .collapse#centralealarmowe 
            //-         .card.card-body.card-without-border 
            //-             .row 
            //-                 .card-deck#productsSSWIN
            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC4320.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla saepe aliquam accusantium voluptates quaerat in qui iusto nobis optio, ratione tenetur nam, officia dicta illo unde sequi tempore animi quibusdam?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC5320.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus animi iure at. Deserunt necessitatibus rem nam, quia nisi labore voluptas, cupiditate qui fugiat delectus placeat! Enim totam molestiae itaque?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC5330.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, enim nesciunt quas dolor magnam eligendi quidem architecto vero facilis officiis, sapiente quis impedit inventore molestiae sint, quia doloremque aut voluptate.
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną
            //-             .row 
            //-                 .card-deck#productsSSWIN
            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC5350.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla saepe aliquam accusantium voluptates quaerat in qui iusto nobis optio, ratione tenetur nam, officia dicta illo unde sequi tempore animi quibusdam?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC6330.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus animi iure at. Deserunt necessitatibus rem nam, quia nisi labore voluptas, cupiditate qui fugiat delectus placeat! Enim totam molestiae itaque?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC6350.320-L1
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, enim nesciunt quas dolor magnam eligendi quidem architecto vero facilis officiis, sapiente quis impedit inventore molestiae sint, quia doloremque aut voluptate.
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną
            //-             .row 
            //-                 .card-deck#productsSSWIN
            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC4300.000
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla saepe aliquam accusantium voluptates quaerat in qui iusto nobis optio, ratione tenetur nam, officia dicta illo unde sequi tempore animi quibusdam?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC5300.000
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus animi iure at. Deserunt necessitatibus rem nam, quia nisi labore voluptas, cupiditate qui fugiat delectus placeat! Enim totam molestiae itaque?
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-                     .card
            //-                         img.card-img-top(src='/images/spck42.jpg' alt='...')
            //-                         .card-body
            //-                             h5.card-title SPC6300.000
            //-                             p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, enim nesciunt quas dolor magnam eligendi quidem architecto vero facilis officiis, sapiente quis impedit inventore molestiae sint, quia doloremque aut voluptate.
            //-                         .card-footer
            //-                             a(href="/docs/przeglad_oferty_vanderbilt.pdf", target="_blank", rel="noopener noreferrer") 
            //-                                 button(class="btn btn-warning") Pobierz broszurę informacyjną

            //-     .card.card-header.card-section(data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample") 
            //-         h3.card-title Moduły
            //-     .collapse#collapseExample 
            //-         .card.card-body.card-without-border 
            //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde saepe quidem soluta quis possimus minus, labore ea aliquid corrupti libero. Atque, cumque consequatur. Aut eius, totam excepturi aliquam beatae ad!



            //- .row.row-cols-md-2
            //-     .col.my-auto

            //-         h4 Czujniki ruchu seria PDM
            //-         p Profesjonalne czujki ruchu MAGIC typu PDM  zwracają na siebie uwagę nowoczesnym i eleganckim wyglądem. Konstrukcja obudowy pozwalana na zastosowanie  czujek w każdych aranżacjach. Opatentowane lustro MAGIC oraz udoskonalony algorytm obróbki sygnału nowej generacji – VISATEC / MATCHTEC, zapewniają niezawodne wykrywanie intruzów i najwyższą odporność na fałszywe alarmy. Konstrukcja czujki oraz przyjęta nowa koncepcja montażu rezystorów EoL pozwalają na szybką i pozbawioną błędów instalację.
            //-     .col
            //-         #carouselVanderbiltCzujki.carousel.slide(data-ride='carousel')
            //-             .carousel-inner
            //-                 .carousel-item.active
            //-                     img.d-block.w-100(src='/images/vanderbilt_czujka.jpg' alt='Czujka Vanderbilt')
            //-                 .carousel-item
            //-                     img.d-block.w-100(src='/images/vanderbilt_czujka1.jpg' alt='Czujka Vanderbilt')
            //-                 .carousel-item
            //-                     img.d-block.w-100(src='/images/vanderbilt_czujka2.jpg' alt='Czujka Vanderbilt')
            //-             a.carousel-control-prev(href='#carouselVanderbiltCzujki' role='button' data-slide='prev')
            //-                 span.carousel-control-prev-icon(aria-hidden='true')
            //-                 span.sr-only Previous
            //-             a.carousel-control-next(href='#carouselVanderbiltCzujki' role='button' data-slide='next')
            //-                 span.carousel-control-next-icon(aria-hidden='true')
            //-                 span.sr-only Next

            //- hr
            //- .row.row-cols-md-2 
            //-     .col
            //-         h4 Czujniki sejsmiczne seria GM 
            //-         p Czujniki stosowane do ochrony sejfów, nocnych depozytów i bankomatów. Indywidualne ustawienia przy zastosowaniu programu SensTool, łatwe testowanie poprawności instalacji i pracy przy użyciu nadajnika testowego GMXS1. Czujnik bimorficzny SENSTEC® i inteligentna, mikroprocesorowa obróbka sygnału zapewniają wysoką pewność detekcji. 

            //-     .col.my-auto 
            //-         img(src="/images/gm760.jpg", alt="GM760", id="sswinImage")
            //- hr
            //- .row.row-cols-md-2 
            //-     .col
            //-         h4 Centrale alarmowe SPC 
            //-         p Systemy alarmowe serii SPC łączą niezrównaną elastyczność i możliwości rozbudowy nawet do 512 linii z atrakcyjną ekonomicznie konstrukcją i koncepcją systemu. Wszystkie centrale SPC spełniają wymagania norm EN 50131 i oferują elastyczny sposób pracy oraz bogaty zestaw funkcji wykorzystywanych w celu zarządzania wymaganymi metodami sygnalizacji włamania i napadu. 
            //-     .col.my-auto
            //-         img(src="/images/spc6330.jpg", alt="SPC6330", id="sswinImage")
            //- hr  
            //- .row.row-cols-md-2 
            //-     .col
            //-         h4 Manipulatory 
            //-         br
            //-         strong SPCK42x 
            //-         p 
            //-             | Klawiatura Standard LCD 
            //-             br
            //-             | 2x16 znaków alfanumerycznych 
            //-             br
            //-             | Opcjonalnie: 
            //-             ul
            //-                 li czytnik kart EM (SPCK421)
            //-                 li odbiornik b/przewodowy
            //-             | EN Grade 3
            //-     .col.my-auto
            //-         img(src="/images/spck42.jpg", alt="SPCK42", id="sswinImage")
            //- hr
            //- .row.row-cols-md-2 
            //-     .col
            //-         strong SPCK62x  
            //-         p 
            //-             | Klawiatura Comfort LCD 
            //-             ul
            //-                 li Wyświetlacz graficzny 128x64 pixels
            //-                 li 15 klawiszy, 4 klawisze programowalne i 1 klawisz nawigacyjny 
            //-                 li Komunikaty głosowe
            //-                 li Możliwe wyświetlanie własnego LOGO
            //-             br
            //-             | Opcjonalnie:
            //-             ul 
            //-                 li czytnik kart EM (SPCK623)
            //-                 li wbudowany głośnik/mikrofon (SPCK623) 
            //-             | Dostępna obudowa podtynkowa 
            //-             br
            //-             | EN Grade 3
            //-     .col.my-auto 
            //-         img(src="/images/spck62.jpg", alt="SPCK62", id="sswinImage")
            //- hr
            //- .row.row-cols-md-2 
            //-     .col 
            //-         strong SPCK53x
            //-         p 
            //-             | Klawiatura Compact LCD 
            //-             ul 
            //-                 li Wyświetlacz graficzny 128x64 pixels 
            //-                 li Klawisze "dotykowe", podświetlane na niebiesko 
            //-                 li Komunikaty głosowe 
            //-                 li Możliwe wyświetlanie własnego LOGO
            //-             br
            //-             | Opcjonalnie: 
            //-             ul 
            //-                 li czytnik kart EM i MiFare (SPCK521)
            //-                 li odbiornik b/przewodowy
            //-             | Dostępna obudowa podtynkowa 
            //-             br
            //-             | EN Grade 3

            //-     .col.my-auto 
            //-         img(src="/images/spck52.jpg", alt="SPCK52", id="sswinImage")

            // hr
            br
            .row.row-cols-md-2 
                .col 
                    p 
                        | Inne rozwiązania 
                        br
                        | Satel / Bosch
                .col 


