html {
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding-bottom: 400px;
    min-height: 100%;
}
.container{
    min-height: 100%;
    position: relative;
}
    /*CARDS index and sales*/
#companyname{
    margin-top: 50px;
    text-align: center;
    display: block;
    
}
#companyname h3{
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
#companyname hr{
    width: 50%;
}
@media (max-width: 1600px) {
    #vanderbiltlogo img{
        /* margin-left: auto;
        margin-right: auto; */
        
        
    }
    #ganzlogo img{
        /* margin-left: auto;
        margin-right: auto; */
    }
}
@media (min-width: 1600px) {
    #vanderbiltlogo img{
        
    }
}
#vanderbiltlogo img{
    width: 30%;
    height: auto;
    display: flex;
    float: right;
}
#ganzlogo img{
    width: 30%;
    height: auto;
    display: flex;
}
#vanderbiltlogo{
    margin-top: 20px;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    float: right;
}
#ganzlogo{
    margin-top: 20px;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    /* float: left; */
} 
#cards{
    padding-top: 30px;
    width: 60%;
    height: auto;
}
#cards a{
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    width: auto;
}
#cardsSales{
    margin-top: 80px;
}
#cardsSales img{
    max-height: 220px;
}
#banner{
    margin-top: 20px;
    margin-bottom: 20px;

}
/*#cardsSales div div{*/
/*    margin-bottom: 20px;*/
/*}*/
.card {
    transition-duration: 0.5s;
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 0;
}
.card img{
    height: 100%;
    min-height: 280px;
    max-height: 332px;
}

    /* HANDEL */

    /* sswin */
#carouselVanderbiltCzujki img{
    width: auto;
    height: auto;
}
#sswin .row img{
    height: auto;
    width: 50%;
}
#sswin .row .col strong{
    font-size: larger;
    color: #0b449a;
}
#sswinImage{
    margin-left: 25%;
}
    /* CCTV */
#cctv{
    margin-top: 50px;
}
#cctvgallery .row img{
    height: auto;
    width: 80%;
}
#cctvgallery .row .col strong{
    font-size: larger;
    color: #0b449a;
}
#cctvImage{
    width: 50%;
    height: auto;
    margin-left: 25%;
}
#brandlogo{
    height: 150px;
    width: auto;
}
#brandlogo2{
    height: 40px;
    width: auto;
    margin-top: 20px;
}
#eczujkalogo{
    height: 30px;
    width: auto;
}

.card-without-border{
    border: 0px;
}
.card-without-border:hover{
    transform: none;
}
#card-section .card{
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-section{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.card-section:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    z-index: 0;
}

#rowproductsSSWIN{
    display: block;
}
#productsSSWIN .card{
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
#productsSSWIN .card-footer{
    margin: auto;
    background-color: white;
    border-top: 0px;
    margin-bottom: 10px;
}
#productsSSWIN .card-img-top{
    margin-left: auto;
    margin-right: auto;
}

    /* About US */

#naglowek h3{
    font-weight: bold;
    text-align: center;
    color: #0a58ca;
    font-size:x-large;
    margin-top: 30px;
}
#naglowek hr{
    width: 75%;
    margin-top: 45px;
}
#aboutUs{
    margin: 30px 30px 60px 30px;
}
#aboutUs b{
    color: #0a58ca;
    font-size: larger;
}

#aboutUs img{
    width: 90%;
    margin-left: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 25px 3px #000000;
    box-shadow: 5px 5px 25px 3px #000000;
}
#aboutExp{
    display: inline-block;
    position: absolute;
    border: #0a58ca solid 2px;
    border-radius: 10px;
    background-color: #0a58ca;
    min-width: 150px;
    min-height: 150px;
    margin: 0px 50px 0px -250px;
    bottom: -23px;
    -webkit-box-shadow: 5px 5px 25px 3px #000000;
    box-shadow: 5px 5px 25px 3px #000000;
}
#aboutExp h2{
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}
#aboutExp h4{
    text-align: center;
    margin-top: -10px;

}
                        /* KONTAKT */

@media (max-width: 767px) {
    #contactformfull{
        display: none;
    }
    #contactformmobile{
        display: block;
    }
}
@media (min-width: 768px) {
    #contactformfull{
        display: block;
    }
    #contactformmobile{
        display: none;
    }
}
#submitButton button{
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
}
#headercontact .row h3{
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px black;
}
#headercontact .row .col p{
    margin-bottom: 0px;
}
#headercontact .row h5{
    margin-bottom: 20px;
}
#contactformfull .row-cols-2{
    margin-bottom: 20px;
}
#contactformfull .row .col-4{
    text-align: center;
    font-weight: bold;
}
#contactformfull .row .col-8 input{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border-width: 0;
    border-color: rgba(0,0,0,0);
    color: #22181c;
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
#contactformfull .row .col-8 textarea{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border-width: 0;
    border-color: rgba(0,0,0,0);
    color: #22181c;
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
#contactformmobile .row{
    margin-bottom: 20px;
}
#contactformmobile .row .col input{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border-width: 0;
    border-color: rgba(0,0,0,0);
    color: #22181c;
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
#contactformmobile .row .col textarea{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border-width: 0;
    border-color: rgba(0,0,0,0);
    color: #22181c;
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}

                        /* zaufali nam */
/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.logo-carousel {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

.slick-slide img {
    width: 100%;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
}

.slick-track::after {
    clear: both;
}

.slick-track {
    padding: 1rem 0;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
}

.slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
}

.slick-arrow.slick-prev {
    left: -40px;
}
#carousel {
    overflow: hidden;
    margin-top: 30px;
}
#carousel .container .slide{
    /* margin-top: 40px;
    margin-bottom: auto; */
}
    /* USLUGI */
#projectsHeader{
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 4px #00000079;
}
#projects{
    margin-top: 40px;
    font-size: large;
}
#projektowanieIMG{
    max-width: 600px;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*FOOTER*/

footer p{
    color: #000000;
    background-color: #bfbfbf;
    padding: 40px 0px 20px 0px;
    margin-bottom: 0px;
    font-size: small;

}
footer b{
    font-size: medium;
}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: auto;
    background-color: #bfbfbf;
    font-size: medium;
    text-align: center;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
    /*NAVBAR*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

.navbar-nav {
    margin-left: auto; /*Navbar links aling right*/
}
.navbar .navbar-brand{
    padding-left: 10px;
}

/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height: 35px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    /*position: fixed;*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 70px;
    width: auto;
    display: block;
    /*filter: brightness(10%);*/
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #484848 !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    /*padding: 5px 0 !important;*/
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #484848;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}

/* #Media
================================================== */

@media (max-width: 767px) {
    h1{
        font-size: 38px;
    }
    .nav-item:after{
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    body.dark .nav-item::before {
        background-color: #fff;
    }
    body.dark .dropdown-toggle::after {
        background-color: #fff;
    }
    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
}

/* #Link to page
================================================== */

.logo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}
.logo img {
    height: 26px;
    width: auto;
    display: block;
    filter: brightness(10%);
    transition: all 250ms linear;
}
body.dark .logo img {
    filter: brightness(100%);
}
